In [113]:
 import pandas as pd

In [115]:
df=pd.read_csv(r"D:\Data_Analyst\sample_files\flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mini chocolate chip,vanilla,yes,10.0,8.0,18.0
1,choclate,chocolate,yes,8.8,7.6,16.6
2,vanilla,vanilla,no,4.7,5.0,9.7
3,cookie dough,vanilla,yes,6.9,6.5,13.4
4,rocky road,chocolate,yes,8.2,7.0,15.2
5,cake batter,vanilla,yes,6.5,6.0,12.5
6,chocolate fudge brownie,chocolate,no,6.2,5.0,11.2

In [125]:
#group by function 
df.groupby('Base Flavor')

In [127]:
group_by_frame=df.groupby('Base Flavor')

In [129]:
#mean()
group_by_frame.mean('Flavor Rating')

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
chocolate         7.733333        6.533333     14.333333
vanilla           7.025000        6.375000     13.400000

In [131]:
#direct method to use agg functions
df.groupby('Base Flavor').mean('Flavor Rating')

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
chocolate         7.733333        6.533333     14.333333
vanilla           7.025000        6.375000     13.400000

In [135]:
#count()
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
chocolate         3      3              3               3             3
vanilla           4      4              4               4             4

In [141]:
#sum
df.groupby('Base Flavor').sum('Flavor Rating')

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
chocolate             23.2            19.6          43.0
vanilla               28.1            25.5          53.6

In [147]:
#min()
df.groupby('Base Flavor').min()

,Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
Base Flavor,,,,,
chocolate,choclate,no,6.2,5.0,11.2
vanilla,Mini chocolate chip,no,4.7,5.0,9.7

In [149]:
#max
df.groupby('Base Flavor').max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
chocolate    rocky road   yes            8.8             7.6          16.6
vanilla         vanilla   yes           10.0             8.0          18.0

In [151]:
#agg function
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','min','max','sum']})

            Flavor Rating
                     mean  min   max   sum
Base Flavor
chocolate        7.733333  6.2   8.8  23.2
vanilla          7.025000  4.7  10.0  28.1

In [153]:
#to use agg() on multiple columns
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','min','max','sum'],'Texture Rating':['mean','min','max','sum']})

            Flavor Rating                  Texture Rating
                     mean  min   max   sum           mean  min  max   sum
Base Flavor
chocolate        7.733333  6.2   8.8  23.2       6.533333  5.0  7.6  19.6
vanilla          7.025000  4.7  10.0  28.1       6.375000  5.0  8.0  25.5

In [157]:
#grouping by multiple columns
df.groupby(['Base Flavor','Liked']).mean('Flavor Rating')

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
chocolate   no               6.2        5.000000     11.200000
            yes              8.5        7.300000     15.900000
vanilla     no               4.7        5.000000      9.700000
            yes              7.8        6.833333     14.633333

In [159]:
#describe()
df.groupby('Base Flavor').describe()

            Flavor Rating                                                   \
                    count      mean       std  min   25%  50%    75%   max
Base Flavor
chocolate             3.0  7.733333  1.361372  6.2  7.20  8.2  8.500   8.8
vanilla               4.0  7.025000  2.202082  4.7  6.05  6.7  7.675  10.0

            Texture Rating            ...             Total Rating             \
                     count      mean  ...    75%  max        count       mean
Base Flavor                           ...
chocolate              3.0  6.533333  ...  7.300  7.6          3.0  14.333333
vanilla                4.0  6.375000  ...  6.875  8.0          4.0  13.400000


                  std   min   25%    50%    75%   max
Base Flavor
chocolate    2.802380  11.2  13.2  15.20  15.90  16.6
vanilla      3.447705   9.7  11.8  12.95  14.55  18.0

[2 rows x 24 columns]